* {
  box-sizing: border-box;
}

.App {
  margin: 20px 40px 0 40px;
}

a {
  display: block;

  &+& {
    margin-top: 32px;
  }
}

.searchBtn {
  background-color: #0b1565;
  color: #fff;
  border-radius: 4px;
  height: 30px;
  width: 45px;
  margin-left: 16px;
}

input,
select {
  height: 30px;
  width: 145px;
}

.formRow {
  display: flex;
  align-items: center;
}

ul {
  margin-top: 32px;
  padding-left: 0;
  width: 50%;

  & li {
    display: flex;
    list-style: none;
    border-top: 1px #3e3a39 solid;

    &:last-child {
      border-bottom: 1px #3e3a39 solid;
    }

    & p:first-child {
      width: 150px;
    }
  }

  & p+p {
    margin-left: 16px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
